source https://nuget.org/api/v2

framework: >= net451
nuget FSharp.Core redirects: force
nuget canopy
nuget Appium.WebDriver

group Build
  source https://nuget.org/api/v2
  framework: >= net451
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  framework: >= net451
  nuget FSharp.Core redirects: force
  nuget Expecto
  nuget Expecto.PerfUtil
  nuget Expecto.FsCheck
